train_path="/home/sekine/WordLevelChemdner/Repository/SeqData/train.csv"
test_path="/home/sekine/WordLevelChemdner/Repository/SeqData/test.csv"
predicted_path="/home/sekine/WordLevelChemdner/Repository/SeqData/predicted_4000_16000_64000.csv"
batchsize=100
epoch=100
word_embed_dim=50
token_embed_dim=50
word_lstm_dim=300
token_lstm_dim=100
dropout=0.5
initial_rate = 0.01
weight_decay = 0.00001
save_model = "/home/sekine/WordLevelChemdner/Repository/TrainedModel/word4000_16000_64000.model"
load_model = "/home/sekine/WordLevelChemdner/Repository/TrainedModel/word4000_16000_64000.model"
sp_models=["./Repository/SentencePieceModel/sp4000.model","./Repository/SentencePieceModel/sp16000.model","./Repository/SentencePieceModel/sp64000.model"]
token2vec_path=["./Repository/Pretrained/gv_pretrain_sp4000.model","./Repository/Pretrained/gv_pretrain_sp16000.model","./Repository/Pretrained/gv_pretrain_sp64000.model"]
word2vec_path="./Repository/Pretrained/gv_pretrain_regex.model"
gpu=1
