### Decode ###
status=decode
raw_dir=/home/sekine/WordLevelChemdner/Repository/SeqData/test.bioes
#nbest=10
decode_dir=/home/sekine/WordLevelChemdner/Repository/SeqData/bilstmcrf_charlstm.decoded
dset_dir=/home/sekine/WordLevelChemdner/Repository/TrainedModel/bilstmcrf_charlstm.dset
load_model_dir=/home/sekine/WordLevelChemdner/Repository/TrainedModel/bilstmcrf_charlstm.0.model